#videoi {
  background-color: azure;
 

 justify-content: flex-end;
}



#videoi .videoy {
  text-align: right;
}


.imgindex .row .pad .inicio {
  text-align: right;
}


/*Navbar*/

#mainNavigation a {
  font-family: 'Cabin', sans-serif;
  font-size:18px;
  text-transform:uppercase;
  letter-spacing:2px;
  text-shadow:1px 1px rgba(0,0,0,0.4)
}

a.dropdown-item:hover {
  color:#03727d !important
}
.nav-item a{
  color:#000000;
}
.nav-item a:hover {
  color:#fff
}
.nav-item{
  min-width:12vw;
}
#mainNavigation {
  top:0;
  left:0;
  width:100%;
  padding-bottom:0px;
/*background: -moz-linear-gradient(top,  #29A8B0 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  #29A8B0 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  #29A8B0 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown .navbar-nav{
  padding:20px;
}
.menu{
  float:right;
  text-align:left;
}
.logo2 {
  float:right;
  text-align:left;
  font-size:38px;
  color:#4385db;
}


/*Navbar*/


/*.navbar-brand{
    width: 40%;
}
.navbar-light .navbar-collapse .navbar-nav .nav-link{
    color:#FFFFFF;
    font-family:"Kalinga";
    font-size:20px;
    width:max-content;
    padding:14px;
    line-height: 32px;
  }
.videoind {
    width: 15%;
    margin: 30%;
}

.pad{
    padding: 10% 0% 0% 10%;
}
.inicio {
    padding: 10% 2% 10% 2%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    color: #FFFFFF;
    height: 80%;
}
.inicio-text {
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding: 0 0% 1% 0;
    opacity: 1;
    font-weight: bold;
}
.paddbot {
    position: absolute;
    text-align: center;
    background-color: #a6d0fc;
    border-color: #a6d0fc;
}
.paddbot2 {
    text-align: center;
    background-color: #a6d0fc;
    border-color: #a6d0fc;
}
*/
.imgindex{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../imagenes/indexv.png) no-repeat top;
    background-size: cover;
  }
  .imgbgst {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../imagenes/storev.png) no-repeat top;
    background-size: cover;
}
.imgbgres{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/restv.png) no-repeat top;
    background-size: cover;
  }
  .imgbginv{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/invoicev.png) no-repeat top;
    background-size: cover;
  }
  .imgbgtae{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(https://www.jdsuite.mx/images/taev.png) no-repeat top;
    background-size: cover;
  }
  .imgbgeco{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/ecommv.png) no-repeat top;
    background-size: cover;
  }
  .imgbgceo{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/ceov.png) no-repeat top;
    background-size: cover;
  }
  .bloques{
    padding: 2%;
  }
  .bloques button{
    background-color: transparent;
    color: #FFFFFF;
    border: none;
  }
  .msgwh{
    position: fixed;
    z-index: 9999;
    height: 50px;
    line-height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
    text-align: center;
    font-size: 45px;
  }
  .padlp {
    padding: 1% 0% 2% 0%;
}
.form-servicioslp{
    /*margin-top: 15%;*/
    padding:5% 2% 10% 2%;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    color: #FFFFFF;
  }
  .text-servicioslp {
    text-align: center;
    color: #000000;
    font-size: 16px;
    padding: 0 0% 1% 0;
    opacity: 1;
    font-weight: bold;
}
.text-pform {
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    padding: 0% 0 1% 0;
}
  .form-servicioslp2{
    /*margin-top: 15%;*/
    padding:5% 2% 5% 2%;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    color: #FFFFFF;
  }
  .form-servicios2{padding:2% 2% 2% 2%;border:#5F7EA8 solid 1px;}
  .form-servicioslp {
    /* margin-top: 15%; */
    padding: 5% 2% 10% 2%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    color: #FFFFFF;
}
.text-serviciostc {
    text-align: center;
    color: #000000;
    font-size: 14px;
    padding: 0 0% 1% 0;
    opacity: 1;
    font-weight: bold;
}
.text-pform {
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    padding: 0% 0 1% 0;
}
.logolp {
    width: 80%;
}
.row{
  margin:0;
  padding:0;
}

.color{
    background-color: #a6d0fc;
    border-color: #a6d0fc;
}
.yout{
    height: 100%;
}





/*Estilos para los logos*/
.productos {
  padding: 12px 0;
  text-align: center;
}
.productos img{
  filter: grayscale(100);
  width: 130px;
  height: auto;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.productos img:hover {
  filter: none;
  transform: scale(1.2);
}

.section-bg {
  background-color: #f4f1f1;
}

/*Cotizar ecomm */
/*Tarjetas Ecomm*/


/*Tarjetas Ecomm*/
#cotizacion #playground-container {
  /*height: 500px;*/
  
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

#cotizacion img{
  width: 250px;
  height: 100px;
}
#cotizacion .main{
 margin:50px 15px;
}

#cotizacion hr{
width: 10%;
color: #fff;
}

#cotizacion .form-group{
margin-bottom: 15px;
}

#cotizacion label{
margin-bottom: 15px;
}


#cotizacion input,
input::-webkit-input-placeholder {
  font-size: 14px;
  padding-top: 3px;
}


#cotizacion .form-control {
  height: auto!important;
  
padding: 8px 12px !important;
}
#cotizacion .input-group {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#cotizacion #button {
  border: 1px solid #ccc;
  margin-top: 28px;
  padding: 6px 12px;
  color: #666;
  text-shadow: 0 1px #fff;
  cursor: pointer;
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px 3px;
  -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
  -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
  box-shadow: 0 1px #fff inset, 0 1px #ddd;
  background: #f5f5f5;
  
}
 .main-center{
 margin-top: 30px;
 margin: 0 auto;
 height: 925px;
  padding: 10px 40px;
  background: -webkit-linear-gradient(left, #29A8B0, #195e63);
color: rgb(255, 255, 255);
  text-shadow: none;
}
#cotizacion span {
  background-color: #ffffff;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#cotizacion span.input-group-addon i {
  color: #000000;
  font-size: 20px;
}
#cotizacion input::placeholder{
  font-size: 16px;
}
#cotizacion .login-button{
margin-top: 5px;
}

#cotizacion span.input-group-addon i {
  color: #29A8B0;
  font-size: 20px;
}
.btncotizar {
  text-align: center;
}


/*Carrusel de productos index*/
#carousel img{
  width:200px;
  height: 200px;
}
#carousel .card {
  box-shadow: 10px 10px 7px #29A8B0;
  border-radius: 15px;
}
#carousel h3{
  color: #327dce;
}
#carousel {
  padding: 2%;
}


/*JD REST*/
#accordionExampleY {
  font-size: 20px;
}

#carruselRest img{
  width: 450px;
  height: 400px;
}

#productosRest img {
  width: 200px;
  height: 200px;
}
#productosRest .card {
/*  box-shadow: 10px 10px 7px #29A8B0;*/
  border-radius: 15px;
  height: 480px;
  width: auto;
}
#productosRest h3{
  color: #327dce;
}
#productosRest {
  padding: 2%;
}

#accordionExampleY {
  margin: auto;
}



/*Inicio sesion y registro*/
#login .main{
 margin:50px 15px;
}

#login .form-group{
margin-bottom: 15px;
}

#login label{
margin-bottom: 15px;
}

#login input,
input::-webkit-input-placeholder {
  font-size: 18px;
  padding-top: 3px;
}

#login .form-control {
  height: auto!important;
padding: 8px 12px !important;
}
#login .input-group {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#login #button {
  border: 1px solid #ccc;
  margin-top: 28px;
  padding: 6px 12px;
  color: #666;
  text-shadow: 0 1px #fff;
  cursor: pointer;
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px 3px;
  -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
  -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
  box-shadow: 0 1px #fff inset, 0 1px #ddd;
  background: #f5f5f5;
  
}
 #login .main-center{
 margin-top: 30px;
 margin: 0 auto;
  padding: 10px 40px;
  background: -webkit-linear-gradient(left, #29A8B0, #195e63);
color: rgb(255, 255, 255);
  text-shadow: none;
  border-radius: 15px;
}
#login span {
  background-color: #bab8b8;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 5px;
}

#login .login-button{
margin-top: 5px;
}

#login span.input-group-addon i {
  color: #ffffff;
  font-size: 22px;
  margin: auto;
}

#login label{
  font-size: 20px;
}

#login a:hover{
  color: #ffffff;
}

#login input::placeholder{
  font-size: 20px;
}
/*===============================00*/

.videoind {
  width: 15%;
  margin: 30%;
}
.pad{
  padding: 10% 0% 0% 10%;
}
.inicio {
  padding: 10% 2% 10% 2%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  color: #FFFFFF;
  height: 80%;
}
.inicio-text {
  text-align: center;
  color: #000000;
  font-size: 20px;
  padding: 0 0% 1% 0;
  opacity: 1;
  font-weight: bold;
}
.paddbot {
  position: absolute;
  text-align: center;
  background-color: #a6d0fc;
  border-color: #a6d0fc;
}
.paddbot2 {
  text-align: center;
  background-color: #a6d0fc;
  border-color: #a6d0fc;
}

.form-servicioslI{
margin-top: 25%;
margin-bottom: 25%;
padding:5% 2% 10% 2%;
background-color:#29A8B0;
border-radius: 15px;
color: #FFFFFF;
}
.form-servicioslT{
margin-top: 25%;
margin-bottom: 25%;
padding:5% 2% 10% 2%;
background-color:#1F8187;
border-radius: 15px;
color: #FFFFFF;
}
.form-servicioslS{
margin-top: 25%;
margin-bottom: 25%;
padding:5% 2% 10% 2%;
background-color:#2B4B6B;
border-radius: 15px;
color: #FFFFFF;
}

.lip{
  padding: 2%;
}
.lic{
  text-align: center;
  box-shadow: 10px 10px rgb(207, 209, 209);
  
}
.padright{
margin-right: 15%;
}
.estrellas{
display:flex;
}
div.lic {
border-style: solid;
border-color:#afcff1 #a4a5a5 #8cbaeb #a4a5a5;
}
h3.precio{
color:#722466;
}
.tipos{
border-top-width: 10px;
border-right-width: 1em;
background-color: #b3b6b6;
text-align: center;
border-radius: 15px 30px;
box-shadow: 10px 10px lightblue;
margin: 4% 1.6%;
}
.tipos2{
border-top-width: 10px;
border-right-width: 1em;
background-color: #b3b6b6;
text-align: center;
border-radius: 5px 20px;
box-shadow: 10px 10px rgb(234, 240, 241);
margin: 4% 1.6%;
padding: 2%;
}
.bgjd02 {
  background: #FFFFFF;
  min-height: 50vh;
  margin: 2%;
}
.blb {
  border-left: solid 1px #000000;
}
.tac {
  text-align: center;
  margin: 0% 2% 10% 2%;
}
.tac2{
height: 100%;
margin: 2% 0% 10% 0%;
}
.titjd2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.blo{
margin: 2% 0%;
}
div.parse,input.inpse{
width: 90%;
}
.pages {
text-align: center;
}
ul.pagination {
margin: 20px 0;
font-family: "Roboto", Helvetica, Arial, sans-serif;
border-radius: 0;
}
.sep{
border-top: solid 1px #000000;
margin: inherit;

}
.padingbottom{
  padding-bottom: 5%;
}
.centrado{
display: flex;
justify-content: center;
}
.logo {
float:left;
text-align: right;
padding: 5%;
}
.centradoprecio{
  text-align: center;
}
.logo2 {
float:right;
text-align:left;
font-size:38px;
color:#4385db;
}
 .right{
  float:right;
  text-align:left;
}asdis{
color:#ffff00;
font-size:32px;
}
.compra{
color:#055e81;
font-size:32px;
}




#nav a {
font-family: 'Cabin', sans-serif;
font-size:12px;
text-transform:uppercase;
letter-spacing:2px;
text-shadow:1px 1px rgba(0,0,0,0.4)
}

.righ{
float:right;
text-align:right;
}
/*INVOICE*/
.center {
background: #27a8af;
width: 100%;
border-radius: 50%;
align-items: center;
text-align: center;
font-size: 14px;
padding: 10%;
}
.vid{
height: 100%;
}
.wid{
height: 100%;
}

/*CABECERA*/
.imgbgin{
width: 100%;
height: 560px;
padding: 0;
margin: 0;
background: url(../imagenes/invoicev.png) no-repeat top;
background-size: cover;
}
#fortext{
color:#000000;
}

.fondoInvoice{
background-color: #27a8af;
}
/*============CHECAR===================*/
 .contenedor {
width: 100%;
height: 480px;
}

#learn-more {
fill-opacity: 0;
fill: #fff;
stroke: #fff;
stroke-width: 2;
border-radius: 5px;
stroke-linejoin: round;
-webkit-transition: all 250ms ease-in;
transition: all 250ms ease-in;
cursor: pointer;
}
#learn-more:hover {
fill-opacity: 1;
}
#learn-more:hover ~ .learn-more-text {
fill: #2B4B6B;
}

.learn-more-text {
font-family: 'Roboto';
fill: #fff;
pointer-events: none;
font-size: 14px;
-webkit-transition: all 250ms ease-in;
transition: all 250ms ease-in;
}

.center {
fill: #2B4B6B;
}

.pointer {
fill: #fff;
stroke: #2B4B6B;
stroke-width: 2;
}

.nav-copy {
font-family: 'Roboto';
fill: #fff;
fill-opacity: 1;
-webkit-transition: all 250ms ease-in;
transition: all 250ms ease-in;
}
.nav-copy.changing {
fill-opacity: 0;
}

.service {
cursor: pointer;
}
.service text {
font-size: 14px;
font-family: 'Roboto';
text-anchor: middle;
}
.service .icon-wrapper {
-webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
}
.service .icon-wrapper, .service .icon-wrapper > * {
-webkit-transition: all 250ms ease-in;
transition: all 250ms ease-in;
}
.service circle {
fill: #2B4B6B;
}
.service circle.shadow {
fill-opacity: 0;
-webkit-filter: url(#service-shadow);
        filter: url(#service-shadow);
}
.service use {
fill: #fff;
}
.service text {
fill: #4d4d4d;
}
.service.active .icon-wrapper, .service:hover .icon-wrapper {
-webkit-transform: scale(1.15) translateY(-5px);
        transform: scale(1.15) translateY(-5px);
}
.service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {
-webkit-transition: all 250ms ease-out;
transition: all 250ms ease-out;
}
.service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
fill-opacity: 0.4;
}
.service.active text, .service:hover text {
fill: #2B4B6B;
font-weight: bold;
}

nav > .nav.nav-tabs{

border: none;
  color:#fff;
  background:#2B4B6B;
  border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
border: none;
  padding: 18px 25px;
  color:#fff;
  background:#2B4B6B;
  border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
content: "";
position: relative;
bottom: -60px;
left: -10%;
border: 15px solid transparent;
border-top-color: #2B4B6B ;
}
.tab-content{
background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top:5px solid #2B4B6B;
  border-bottom:5px solid #2B4B6B;
  padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
border: none;
  background: #2B4B6B;
  color:#fff;
  border-radius:0;
  transition:background 0.20s linear;
}
.center {
background: #27a8af;
width: 100%;
height: auto;
border-radius: 50%;
align-items: center;
text-align: center;
font-size: 14px;
padding: 10%;
}



/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
/*#footer {
    background: #007b5e !important;
}*/
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:40px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:50px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}




